{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">login</button>
    <a href="{% url 'signup' %}">signup </a>|
    <a href="{% url 'password_reset' %}">forgot password?</a>



</form>


{% endblock %}