{% extends 'base.html' %}
{% block title %} Forgot your password? {% endblock %}

{% block content %}
<h2> Frogot your password?</h2>
<p> Enter your email. We'll send you the instructions for setting a new one</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send me instructions</button>
</form>

{% endblock %}