{% extends 'base.html' %}
{% block title %} Password Reset Complete {% endblock %}

{% block content %}
<h2> Password reset done</h2>
<p>Your new password has been set. You can log in now on the
    <a href="{% url 'login' %}">log in page</a>.</p>

{% endblock %}