{% extends 'base.html' %}

{% block title %} Signup {% endblock %}

{% block content %}
<h2>Create account</h2>
<form  method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">signup</button>


</form>
{% endblock %}