{% extends 'base.html' %}

{% block title %} HomePage {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<p> welcome {{ user.username }}</p>
<a href="{% url 'logout' %}">logout</a>
{% else %}
<p>Please login using the following link</p>
<a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}